*.pyc
*.log
*.egg
*.db
*.pid
.coverage
.DS_Store
.tox
pip-log.txt
/.tox
/*.egg-info
/build
/cover
/dist
/example_project/local_settings.py
/docs/_build
/sentry_index/
/sentry_test_index
/example_project/*.db
bin/
include/
lib/
.cache
.idea
.eggs
venv
